
/*  
.nav__link {
    color: rgb(214, 75, 75);
}


.nav__link--active {
    color: rgb(73, 190, 225);
    font-weight: bolder;
}
*/

/*  
div {
    transition: all 2s;
}

div:hover {
    background-color: aqua;
}

button {
    animation: float 1s 1 alternate-reverse;
    transition: all 1s;
}
button:hover {
    background-color: black;
    color: white;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(80px);
    }
}
*/
.container {
    border: 2px solid lightgrey;
    width: 50%;
    padding: 24px;
}
.row {
    width: 100%;
    max-width: 700px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.box-wrapper {
    display: flex;
    justify-content: space-around;
}
.box {
    border: 2px solid lawngreen;
    height: 100px;
    width: 100px;
    margin-right: 24px;
}