.nav__link {
    color: rgb(214, 75, 75);
}


.nav__link--active {
    color: rgb(73, 190, 225);
    font-weight: bolder;
}

.container {
    width: 700px;
    height: 400px;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px;

}
.box {
    border: 5px solid blue;
    width: 100px;
    height: 100px;
}
.box--small {
    border: 5px solid blue;
    width: 50px;
    height: 50px;
    margin-left: 24px;
    
}
.box-wrap {
    display: flex;
    align-items: center;
}

div {
    transition: all 2s;
}

div:hover {
    background-color: aqua;
}

button {
    animation: float 1s 1 alternate-reverse;
    transition: all 1s;
}
button:hover {
    background-color: black;
    color: white;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(80px);
    }
}


