.nav__link--active {
    color: rgb(38, 161, 199);
    font-weight: bold;
}

.nav__link {
    color: black;
}

div {
    transition: all 2s;
}

div:hover {
    background-color: aqua;
}

button {
    animation: float 1s 30 alternate-reverse;
    transition: all 2s;
}
button:hover {
    background-color: black;
    color: white;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(80px);
    }
}
